:root {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

body {
    margin: 0px;
}

#dynamicContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleItem {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    min-width: 15vw;
}

.articleItemHeader {
    font-weight: bolder;
    font-size: 150%;
}

.articleItemContent {
    display: flex;
}

.articleItemMeta {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: -5px;
    background-color: white;;
    justify-content: space-between;
}

.articlePreviewHeader {
    font-weight: bolder;
    font-size: 150%;
}

.confirmButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.listImagePreview {
    max-width: 7vw;
    max-height: 7vh;
}

.listImagePreviewContainer {
    margin-left: auto;
}